<?xml version="1.0" encoding="utf-8"?><server model="join">
	<business>
		<apps>
			<app>
				<name>jobq</name>
				<port>28031</port>
				<responseTimeout>30</responseTimeout>
				<model>/usr/local/adwiser/app/lispeed/lib/controller/JobNode</model>
			</app>
			<app>
				<name>jobc</name>
				<port>28041</port>
				<responseTimeout>300</responseTimeout>
				<model>/usr/local/adwiser/app/lispeed/lib/controller/JobNode</model>
			</app>
			<app>
				<name>jobb</name>
				<port>28051</port>
				<responseTimeout>30</responseTimeout>
				<model>/usr/local/adwiser/app/lispeed/lib/controller/JobNode</model>
			</app>
			<app>
				<name>taskq</name>
				<port>29011</port>
				<responseTimeout>40</responseTimeout>
				<model>/usr/local/adwiser/app/lispeed/lib/controller/TaskNode</model>
			</app>
			<app>
				<name>taskc</name>
				<port>29021</port>
				<responseTimeout>300</responseTimeout>
				<model>/usr/local/adwiser/app/lispeed/lib/controller/TaskNode</model>
			</app>
			<app>
				<name>taskm</name>
				<port>29031</port>
				<responseTimeout>30</responseTimeout>
				<model>/usr/local/adwiser/app/lispeed/lib/controller/JobNode</model>
			</app>
		</apps>
	</business>
	<log-handler>
		<path>/usr/local/adwiser/log</path>
		<timestamp>%Y%m%d</timestamp>
		<formatter>%(asctime)s %(levelname)s %(message)s</formatter>
	</log-handler>
	<http>
		<address>127.0.0.1</address>
		<port>8888</port>
		<connectionTimeout>60</connectionTimeout>
		<sessionTimeout>30</sessionTimeout>
		<maxThreads>20</maxThreads>
		<minSpareThreads>20</minSpareThreads>
		<acceptCount>50</acceptCount>
	</http>
</server>